.animation_playground {
    background-image: radial-gradient(farthest-corner at 45px 45px, #9975b8 0%, #5f6098 100%);
    width: 80%;
    height: 80%;
    position: absolute;
    left: 10%;
    top: 5%;
}

#logoAnimation {
    position: absolute;
    top: 20%;
    left: 32%;
    width: 30vw;
}

.animation_playground__container {
    background: url("../assets/icons/icons.png");
    background-size: 200% 120%;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 480px) {
    .animation_playground__container {
        background-size: 100% 100%;
    }
}